<table class='results'>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone Number</th>
    <th>Store Type</th>
  <% @stores.each do |store| %>
  </tr class "store">
    <td><%= store.name %></td>
    <td><%= store.city %></td>
    <td><%= store.distance %></td>
    <td><%= store.phone %></td>
    <td><%= store.store_type %></td>
  <tr>
  <% end %>
  </tr>
</table>
